ion-grid{
	height: 65%;
	width: 100%;
}

ion-row {
	height: 33.33%;
}

ion-col{
	width: 100%;
}

.btn {
	position: absolute;
	height: 98%;
	width: 98%;
}

.stevec {
	height: 10%;
}
